
<div class="jumbotron">
  <h1>Eat-Da-Burger!</h1> 
  <div class="burgerImage"><img src="assets\images\burger.jpg">
  </div>
</div>

<h4>Add a Burger</h4>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="burgername" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Have You Ordered Yet?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured<br>
    <input type="radio" name="devoured" value="0"> Let's Place An Order
  </div>

  <button type="submit">Add Burger</button>
</form>

<div class = "container-fluid">

<h3>Burgers That You've Devoured</h3>
<ul>
  {{#each id}}
    {{#unless devoured}}
      {{> burger/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h3>Burgers Left To Devour</h3>
<ul>
  {{#each id}}
    {{#if devoured}}
      {{> burger/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>
</div>
