  
<div class="jumbotron">
  <div class="burgerImage"><img src="/assets/images/burger.jpg" alt="burgers">
 <h2>Add a burger to eat!</h2>
    <div class="add-burger-section mt-4">
    <form class="create-form">
      <div class="form-group">
        <div class="input-group mb-3">
          <input type="text" id="br" name="burger_name" class="form-control"
            aria-label="Burger Name" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="add-burger-btn" type="submit" id="button-addon2">Add Burger</button>
          </div>
        </div>
      </div>
    </form>
  </div>    
  </div>
</div>